<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
	<meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
	<meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
	<meta property="og:image" content="https://fillow.dexignlab.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Vybe</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<link href="vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<script type="application/javascript" src="https://connect.withmono.com/connect.js"></script>

</head>

<body>
	<% var credit = 0.00 %>
	<% var debit = 0.00 %>
	<% var percentage_credit = 0 %>
	<% var percentage_debit = 0 %>
	<% var performance = 0 %>

	<% if ( data['user']['monoId']) {%>
	<% for(var i=0; i < transactions.data.length; i++) {%>
	<% if (transactions.data[i].type == "debit") {%>
	<% debit += transactions.data[i].amount %>
	<% } %>
	<% if (transactions.data[i].type == "credit") {%>
	<% credit += transactions.data[i].amount %>
	<% } %>
	<% } %>
	<% var total = credit-debit %>
	<% var total_performance = credit+debit %>
	<% percentage_credit = (credit/total)*100 %>
	<% percentage_debit = (debit/total)*100 %>
	<% performance = (credit/total_performance)*100 %>
	<% }%>

    <!--*******************
        Preloader start
    ********************-->
   <!-- <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div> -->
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
            <a href="/dashboard" class="brand-logo">
				<div class="brand-title">
					<h2 class="">Vybe.</h2>
					<span class="brand-sub-title">Vybe Admin Dashboard</span>
				</div>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div> 
        <!--**********************************
            Nav header end
        ***********************************-->
		


  <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
							<div class="dashboard_bar">
                                Vybe
                            </div>
							
                        </div>
                        <ul class="navbar-nav header-right">
							<li class="nav-item d-flex align-items-center">
								<div class="input-group search-area">
									<input type="text" class="form-control" placeholder="Search here...">
									<span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
								</div>
							</li>

							<li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
									<svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M23.3333 19.8333H23.1187C23.2568 19.4597 23.3295 19.065 23.3333 18.6666V12.8333C23.3294 10.7663 22.6402 8.75902 21.3735 7.12565C20.1068 5.49228 18.3343 4.32508 16.3333 3.80679V3.49996C16.3333 2.88112 16.0875 2.28763 15.6499 1.85004C15.2123 1.41246 14.6188 1.16663 14 1.16663C13.3812 1.16663 12.7877 1.41246 12.3501 1.85004C11.9125 2.28763 11.6667 2.88112 11.6667 3.49996V3.80679C9.66574 4.32508 7.89317 5.49228 6.6265 7.12565C5.35983 8.75902 4.67058 10.7663 4.66667 12.8333V18.6666C4.67053 19.065 4.74316 19.4597 4.88133 19.8333H4.66667C4.35725 19.8333 4.0605 19.9562 3.84171 20.175C3.62292 20.3938 3.5 20.6905 3.5 21C3.5 21.3094 3.62292 21.6061 3.84171 21.8249C4.0605 22.0437 4.35725 22.1666 4.66667 22.1666H23.3333C23.6428 22.1666 23.9395 22.0437 24.1583 21.8249C24.3771 21.6061 24.5 21.3094 24.5 21C24.5 20.6905 24.3771 20.3938 24.1583 20.175C23.9395 19.9562 23.6428 19.8333 23.3333 19.8333Z" fill="#717579"></path>
										<path d="M9.9819 24.5C10.3863 25.2088 10.971 25.7981 11.6766 26.2079C12.3823 26.6178 13.1838 26.8337 13.9999 26.8337C14.816 26.8337 15.6175 26.6178 16.3232 26.2079C17.0288 25.7981 17.6135 25.2088 18.0179 24.5H9.9819Z" fill="#717579"></path>
									</svg>
                                    <span class="badge light text-white bg-warning rounded-circle">7</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div id="DZ_W_Notification1" class="widget-media dlab-scroll p-3" style="height:380px;">
										<ul class="timeline">
											<li>
												<div class="timeline-panel">
													<div class="media me-2">
														<img alt="image" width="50" src="images/avatar/1.jpg">
													</div>
													<div class="media-body">
														<h6 class="mb-1">															
															ACCOUNT # :	11111111111111
															CURRENCY :	N
															DEBIT :	10.5
															DESCRIPTION :	MM/BTW IFO 00000000000
															CLEARED BALANCE :	400.00 
															UNCLEARED BALANCE :	0
															TIME :	2021-12-12 10:12:02</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media me-2 media-info">
														KG
													</div>
													<div class="media-body">
														<h6 class="mb-1">															
															ACCOUNT # :	11111111111111
															CURRENCY :	N
															DEBIT :	10.5
															DESCRIPTION :	MM/BTW IFO 00000000000
															CLEARED BALANCE :	400.00 
															UNCLEARED BALANCE :	0
															TIME :	2021-12-12 10:12:02</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media me-2 media-success">
														<i class="fa fa-home"></i>
													</div>
													<div class="media-body">
														<h6 class="mb-1">															
															ACCOUNT # :	11111111111111
															CURRENCY :	N
															DEBIT :	10.5
															DESCRIPTION :	MM/BTW IFO 00000000000
															CLEARED BALANCE :	400.00 
															UNCLEARED BALANCE :	0
															TIME :	2021-12-12 10:12:02</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											 <li>
												<div class="timeline-panel">
													<div class="media me-2">
														<img alt="image" width="50" src="images/avatar/1.jpg">
													</div>
													<div class="media-body">
														<h6 class="mb-1">
															ACCOUNT # :	11111111111111
															CURRENCY :	N
															DEBIT :	10.5
															DESCRIPTION :	MM/BTW IFO 00000000000
															CLEARED BALANCE :	400.00 
															UNCLEARED BALANCE :	0
															TIME :	2021-12-12 10:12:02
															</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media me-2 media-danger">
														KG
													</div>
													<div class="media-body">
														<h6 class="mb-1">
															CURRENCY :	N
															DEBIT :	10.5
															DESCRIPTION :	MM/BTW IFO 00000000000
															CLEARED BALANCE :	400.00 
															UNCLEARED BALANCE :	0
															TIME :	2021-12-12 10:12:02</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
											<li>
												<div class="timeline-panel">
													<div class="media me-2 media-primary">
														<i class="fa fa-home"></i>
													</div>
													<div class="media-body">
														<h6 class="mb-1">	
															ACCOUNT # :	11111111111111
															CURRENCY :	N
															DEBIT :	10.5
															DESCRIPTION :	MM/BTW IFO 00000000000
															CLEARED BALANCE :	400.00 
															UNCLEARED BALANCE :	0
															TIME :	2021-12-12 10:12:02</h6>
														<small class="d-block">29 July 2020 - 02:26 PM</small>
													</div>
												</div>
											</li>
										</ul>
									</div>
                                     <a class="all-notification" href="javascript:void(0);">See all notifications <i class="ti-arrow-end"></i></a> 
                                </div>
							</li>
							<li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell-link "  id="add-account">
									<i class="fas fa-plus-square"></i>	
                                </a>
							</li>

                        </ul>
                    </div>
				</nav>
			</div>
		</div>
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="dlabnav">
            <div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a  href="/dashboard" aria-expanded="false">							
							<i class="fas fa-home"></i><span class="nav-text">Dashboard</span>																					
						</a>
                    </li>
					
                    <!-- <li>
						<a  href="Savings.html" aria-expanded="false">
							<i class="fas fa-paper-plane"></i>
							<span class="nav-text">Quick Save</span>
						</a>
                    </li> -->
                    <li>
						<a  href="/budget" aria-expanded="false">
							<i class="far fa-credit-card"></i>
							<span class="nav-text">Budget</span>
						</a>
                    </li>
					<li>
						<a  href="/transaction" aria-expanded="false">
							<i class="fas fa-exchange-alt"></i>
							<span class="nav-text">Transactions</span>
						</a>
                    </li>

					<!-- <li>
						<a  href="report.html" aria-expanded="false">
							<i class="far fa-chart-bar"></i>
							<span class="nav-text">Report</span>
						</a>
                    </li>
					<li>
						<a  href="settings.html" aria-expanded="false">
							<i class="fas fa-cog"></i>
							<span class="nav-text">Settings</span>
						</a>
                    </li> -->
                </ul>

			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body">
            <div class="container-fluid">
				<div class="row">
					<div class="col-xl-6">
                        <div class="card text-center">
                             <div class="card-header">
                                <h4 class="card-title">Withdrawals</h4>
                            </div>
                            <div class="card-body">
								<ul>
									<li class="card-text" style="font-size:xx-large;"><b><%= debit.toLocaleString() %>N</b></li>
									<li class="card-text" style=" display: inline; padding-right: 50px;"><%= percentage_debit.toFixed(2) %>% Since Last Month</li>
									<i class="fas fa-bell"></i>
								</ul>
							</div>
                           
                        </div>
                    </div>

					<div class="col-xl-6">
                        <div class="card text-center">
                             <div class="card-header">
                                <h4 class="card-title">Earnings</h4>
                            </div>
                            <div class="card-body">
								<ul>
									<li class="card-text" style="font-size:xx-large;"><b><%= credit.toLocaleString() %>N</b></li>
									<li class="card-text" style=" display: inline; padding-right: 50px;"><%= percentage_credit.toFixed(2) %>% Since Last Month</li>
									<i class="fas fa-bell"></i>
								</ul>
							</div>
						</div>
                    </div>

				</div>
				<div class="row page-titles">
					<div class="col-xl-12" >
						<p style="font-size: large;"><b>Budget Overview</b></p>
						<p style="font-size: 12pt;">You have withdrawn N<%= debit.toLocaleString() %> this Month. Your budget performance is <%= resultdata.toFixed(2) %>%</p>
						<a href="#" style="float: right;">See Report</a>
					</div>
				</div>
				<div class="row page-titles">
					<div class="col-xl-8 ">
						<div class="dropdown-size">
							<div class="btn-group dropend mb-1">
								<button type="button" class=" btn btn-outline-secondary btn-lg dropdown-toggle" data-bs-toggle="dropdown">
									<i class="fas fa-paper-plane"></i>
									Join a Savings challenge
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="">Link 1</a>
									<a class="dropdown-item" href="">Link 2</a>
									<a class="dropdown-item" href="">Link 3</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="dropdown-size">
							<div class="btn-group dropend mb-1">
								<button type="button" class="btn btn btn-outline-secondary btn-lg dropdown-toggle" data-bs-toggle="dropdown">
									<i class="far fa-credit-card"></i>
									Join a Budgeting challenge 
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="">Link 1</a>
									<a class="dropdown-item" href="">Link 2</a>
									<a class="dropdown-item" href="">Link 3</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-sm-12">
									<div class="card">
										<div class="card-header">
											<h4 class="card-title">Insights</h4>
											
										</div>
										<div class="card-body">
											<div id="overlapping-bars" class="ct-chart ct-golden-section chartlist-chart"></div>
										</div>
									</div>
								
                            </div>
						</div>
					</div>

				</div>
				<div class="row page-titles">
					<div class="col-xl-12" >
						<p style="font-size: small;"><b>Top Expenses this Month</b></p>
						<div class="row">
							<div class="col-xl-3">
								<div class="card text-center">
									 <div class="card-header">
										<h4 class="card-title">Food</h4>
									</div>
									<div class="card-body">
										<ul>
											<i class="fas fa-hamburger fa-2x" style="float:inline-start; padding-right: 20px;"></i>
											<li class="card-text" style="font-size:xx-large; display: inline-block;"><b>0.00N</b></li>
										</ul>
									</div>
								   
								</div>
							</div>
		
							<div class="col-xl-3">
								<div class="card text-center">
									 <div class="card-header">
										<h4 class="card-title">Rent</h4>
									</div>
									<div class="card-body">
										<ul>
											<i class="fas fa-house-user fa-2x" style="float:inline-start; padding-right: 20px;"></i>
											<li class="card-text" style="font-size:xx-large; display: inline-block;"><b>0.00N</b></li>
										</ul>
									</div>
								   
								</div>
							</div>

							<div class="col-xl-3">
								<div class="card text-center">
									 <div class="card-header">
										<h4 class="card-title">Transportation</h4>
									</div>
									<div class="card-body">
										<ul>
											<i class="fas fa-car fa-2x" style="float:inline-start; padding-right: 20px;"></i>
											<li class="card-text" style="font-size:xx-large; display: inline-block;"><b>0.00N</b></li>
										</ul>
									</div>
								   
								</div>
							</div>

							<div class="col-xl-3">
								<div class="card text-center">
									 <div class="card-header">
										<h4 class="card-title">Data</h4>
									</div>
									<div class="card-body">
										<ul>
											<i class="fas fa-wifi fa-2x" style="float:inline-start; padding-right: 20px;"></i>
											<li class="card-text" style="font-size:xx-large; display: inline-block;"><b>0.00N</b></li>
										</ul>
									</div>
								   
								</div>
							</div>
		
						</div>
						<a href="#" style="float: right;">See More</a>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/dlabnav-init.js"></script>
	<script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>
	<script type="application/javascript" src="js/Mono.js"></script>
	<script src="vendor/chart.js/Chart.bundle.min.js"></script>
	<!-- Apex Chart -->
		<script src="vendor/apexchart/apexchart.js"></script>
    <!-- Chart Chartist plugin files -->
		<script src="vendor/chartist/js/chartist.min.js"></script>
		<script src="vendor/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
		<script src="js/plugins-init/chartist-init.js"></script>





<script type="application/javascript">
  const data = JSON.parse('<%- JSON.stringify(data) %>');
  const copyToClipboard = text => {
    const elm = document.createElement('textarea');
    elm.value = text;
    document.body.appendChild(elm);
    elm.select();
    document.execCommand('copy');
    document.body.removeChild(elm);
  };

  
  var connect;
  var config = {
    key: "test_pk_FvmsDmo8DP8Sbujy874g",
    onSuccess: function (response) {
      $.ajax({
            type: "POST",
            url: "/dashboard",  // post route name here
            data: { code: response.code, id: data.user._id  },
            success: function(data) {
            },
            error: function(jqXHR, textStatus, err) {
                alert('text status '+textStatus+', err '+err)
            }
        });

    },
    onClose: function () {
      console.log('user closed the widget.')
    }
  };
  connect = new Connect(config);
  connect.setup();
  var launch = document.getElementById('add-account');
  launch.onclick = function (e) {
    connect.open();
  };
</script>




</body>
</html>
